body {
background: #6b4f34;
}
.features {
display: flex;
justify-content: center;
padding: 30px;
}
.feature-box {
background: #dec39b;
padding: 20px;
margin: 10px;
border: 2px solid #3e2f1c;
}
.product-grid {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 20px;
padding: 40px;
}
.product img {
width: 100%;
height: 220px;
object-fit: cover;
filter: sepia(30%);
}
.buy-btn {
display: block;
margin-top: 10px;
color: #fff;
background: #6b4f34;
padding: 10px;
text-align: center;
text-decoration: none;
}
.payment-container {
padding: 30px;
width: 60%;
margin: auto;
background: #eed9bd;
border: 3px solid #3e2f1c;
}
.thankyou-box {
text-align: center;
padding: 100px;
}
footer {
text-align: center;
background: #3e2f1c;
color: #fff;
padding: 15px;
}
